#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  z-index: 1;
}

.logo {
  width: 1.5em;
  height: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo.react {
  animation: logo-spin infinite 20s linear;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.  read-the-docs {
  color: #888;
}
body {
  background: linear-gradient(blue,rgb(179, 2, 255));
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

}
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
.container{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}
.bubbles{
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  z-index: 0;
}
.bubbles span
{
  position: relative;
  width: 30px; 
  height: 30px;
  background: skyblue;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc55,
  0 0 50px skyblue,
  0 0 50px skyblue;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s /var(--i) );
}
@keyframes animate
{
  0%
  {
    transform: translateY(0) scale(0);
  }
  100%
  {
    transform:  translateY(-100vh) scale(1);
  }
}
button{
  padding: 0.6em 2em;
  background-color: #0b0d10;
  border: none;
  color: #f0f0f0;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 1000px;
  display: flex;
}
button::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(to right, rgb(0, 255, 195), rgb(28, 194, 231));
  border-radius: 1000px;
  z-index: -1;
}

button:hover {
  box-shadow: 0 0 25px gold;
  transform: scale(1.05);
}